html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1,
.h1 {
  font-size: 50px;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 38px;
}

h4,
.h4 {
  font-size: 32px;
}

h5,
.h5 {
  font-size: 26px;
}

h6,
.h6 {
  font-size: 20px;
}
